body{
    background-color: lightblue;
    font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
    text-align: left;
}

img {
    height: 300px;
    width: auto;
    text-align: right;
}

h2 {
    text-indent: 40px;
}

a img {
    width: 25px;
    height: auto;
}