body{
    background-color: lightblue;
    font-family: "Helvetica", "Arial", sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

ul{
    text-align: center;
    font-weight: bold;
}

ul li {
    display: inline-block;
}